@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');
h1, h2, h3, b, p {
  font-family: "Montserrat", "Roboto Condensed", sans-serif;
}
 h2 {
   font-size: 34px;
   color: lightgrey;
 }
b {
  color: black;
}
body {
  background-image: linear-gradient(to right, grey, black)
}

#sidebar {
  display: none;
  padding:15px;
  border-radius: 10px;
  background-color: darkmagenta;
  width:105px;
position:fixed;
  left:0%;
  top:0%;
  height:9999999999999999px;
  border:none;
  transition: 1s;

}
#sidebar:hover {
  
  width:  175px; 
}
#sidebar p {
  font-size: 25px;
}
#sidebar a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
	text-decoration: none;
	color: #18272F;
	font-weight: 700;
  position: relative;
}

#sidebar a::before {
  content: '';
  background-color: hsla(196, 61%, 58%, .75);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

 #sidebar a:hover::before {
  bottom: 0;
  height: 100%;
}

#sidebar:focus {
  width:10%;
  
}

button {
  padding:10px;
  width:175px;
  height:50px;
  border-radius:5px;
  border:none;
  background-color: #34495E;
  transition-duration:1s;
  cursor: pointer;
}
button:hover {
  background-color: #212F3D;
  transform: rotate(5deg);
}
hr {
  width:50% to right;
  border-radius:10px;
  height:10px;
  background-color: white;
  border:none;
}
 a img {
   width:120px;
   height:150px;
   border-radius:10px;
 }
#games {
  display:none;
}
* horizontal threline nav bar */

.navbar {
  width: 60px;
  display: block;
  margin: 50px auto;
  border: 4px solid #00bfb6;
  padding: 8px 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
   position:fixed;
  top:0%;
  left:0%;
}

.navbar div {
   position:fixed;
  top:0%;
  left:0%;
  height: 5px !important;
  background: #fff;
  margin: 7px 0px 7px 0px;
  border-radius: 25px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.two {
   position:fixed;
  top:0%;
  left:0%;
  width: 35px;
}

.three {
   position:fixed;
  top:0%;
  left:0%;
  width: 50px;
}

.navbar:hover div {
   position:fixed;
  top:0%;
  left:0%;
  width: 60px;
}
a {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before{
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
 background-position: 0;
}

a:hover::before{
  width: 100%;
}
#side {
  display: none;
}